body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #7bd9ee;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #71cbf4 3px solid;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .post {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px #ddd solid;
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  form button:hover {
    background: #77d42a;
  }
  